## Introduction

Currently, when a MuscleHub visitor purchases a membership, they follow the following steps:

1. Take a fitness test with a personal trainer.
2. Fill out an application for the gym.
3. Send in their payment for their first month’s membership.

Janet, the manager of MuscleHub, thinks that the fitness test intimidates some prospective members, so she has set up an A/B test.

## A/B Testing process

Visitors are randomly be assigned to one of two groups:

- Group A is still asked to take a fitness test with a personal trainer.
- Group B skips the fitness test and proceed directly to the application.

Janet’s hypothesis is that visitors assigned to Group B will be more likely to eventually purchase a membership to MuscleHub than visitors assigned to Group A. So that the null and alternate hypotheses are as follows:

Null Hypothesis = There will no difference between the visitors in Group A that purchase membership and the visitors in Group B that purchase membership.  
Alternate Hypothesis = There will be more visitors in Group B that will purchase membership than visitors in Group A that will purchase membership.

## Data Summary

In [1]:
import pandas as pd
applications = pd.read_csv("applications.csv")
applications.head()

  first_name last_name                    email  gender application_date
0        Roy    Abbott    RoyAbbott32@gmail.com    male       2017-08-12
1      Agnes   Acevedo  AgnesAcevedo1@gmail.com  female       2017-09-29
2    Roberta   Acevedo         RA8063@gmail.com  female       2017-09-15
3     Darren    Acosta  DAcosta1996@hotmail.com    male       2017-07-26
4     Vernon    Acosta    VAcosta1975@gmail.com    male       2017-07-14

In [2]:
tests = pd.read_csv("fitness_tests.csv")
tests.head()

  first_name last_name                   email  gender fitness_test_date
0        Kim    Walter   KimWalter58@gmail.com  female        2017-07-03
1        Tom   Webster        TW3857@gmail.com    male        2017-07-02
2     Marcus     Bauer  Marcus.Bauer@gmail.com    male        2017-07-01
3    Roberta      Best      RB6305@hotmail.com  female        2017-07-02
4     Carrie   Francis      CF1896@hotmail.com  female        2017-07-05

In [3]:
purchases = pd.read_csv("purchases.csv")
purchases.head()

  first_name last_name                    email  gender purchase_date
0        Roy    Abbott    RoyAbbott32@gmail.com    male    2017-08-18
1    Roberta   Acevedo         RA8063@gmail.com  female    2017-09-16
2     Vernon    Acosta    VAcosta1975@gmail.com    male    2017-07-20
3     Darren    Acosta  DAcosta1996@hotmail.com    male    2017-07-27
4       Dawn    Adkins    Dawn.Adkins@gmail.com  female    2017-08-24

In [4]:
visits = pd.read_csv("visits.csv")
visits.head()

  first_name last_name                          email  gender visit_date
0      Karen   Manning        Karen.Manning@gmail.com  female     5-1-17
1    Annette     Boone               AB9982@gmail.com  female     5-1-17
2   Salvador   Merritt  SalvadorMerritt12@outlook.com    male     5-1-17
3     Martha   Maxwell       Martha.Maxwell@gmail.com  female     5-1-17
4      Andre     Mayer         AndreMayer90@gmail.com    male     5-1-17

## Hypothesis Testing

Recall that the sign-up process for MuscleHub has several steps:

1. Take a fitness test with a personal trainer (only Group A).
2. Fill out an application for the gym.
3. Send in their payment for their first month's membership.

### 1. Determine the count of applications

Determine the percentage of people in each group who complete Step 2, filling out an application.

- 10% of people in group A filled out an application
- 13% of people in group B filled out an application

pval = 0.0009647827600722304

### 2. Detemine the count of memberships from applications

Of those who picked up an application, how many purchased a membership?
- Group A = 80%
- Group B = 77%

pval = 0.43258646051083327

### 3. Determine the count of all memberships

Previously, you looked at what percentage of people who picked up applications purchased memberships.  
Now, determine what percentage of ALL visitors purchased memberships.

- Group A = 8%
- Group B = 10%

pval = 0.014724114645783203